@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    position: relative;
    height: 100vh;
    width: 100vw;

    font-family: 'Roboto', sans-serif;
    background-color: #e6e6e6;
}


/* ********** HEADER ********** */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    padding: 5px 20px;
    border-bottom: 1px solid #000;
    background-color: #F54703;
    color:#e6e6e6
}

header img{
    width: 35px;
}

.name{
    flex-direction: column;
}

.header-name{
font-size: 20px;
}

.header-desc{
    display: flex;
    font-size: 14px;
}


/* ********** SECTION TECNOLOGIAS ********** */

.tecnologias{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 3.5px;
    margin-top: 1em;
}

.tec-logo{
    width: 40px;
}

.tec{
    display: flex;
    justify-content: space-between;
    gap: 8.5px;
    position: relative;
}

.spans{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 7.5px;
    position: relative;
    top: 20%;
}

.tec-name{
    font-weight: 500;
    color: #F54703;
    letter-spacing: 2px;
}

.tec-desc{
    font-weight: 300;
}


/* ********** SECTION PROJETOS ********** */

.projetos{
    max-width: 1000px;
    max-height: 600px;
    margin: 0 auto;
    border: 0.5px solid #000;
    border-radius: 3px;
    position: relative;
    top: 90px;
}

.head button{
    display: flex;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0 7px;
}

.head{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    width: 100%;
    height: 2.3rem;
    background-color: #F54703;
    color: #e6e6e6;
}

.project-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.project-image{
    width: 100%;
    border: 1px solid #000;
    border-radius: 3px;
}


.project-desc-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-weight: 300;
}

.project-desc{
    font-weight: 500;
}

#dots{
    display: flex;
    gap: 3.5px;
    justify-content: center;
    padding: 5px 0;
}

#dots img{
    width: 15px;
}


/* ********** FOOTER ********** */

footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 7%;
    background-color: #F54703;
    display: flex;
    justify-content: center;
    border-top: 1px solid #000;
}

.footer-nav{
    margin-top: 15px;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.footer-nav a{
    list-style: none;
    color: #e6e6e6;
}

.footer-nav a:nth-of-type(2){
    margin-left: 9.5%;
}