@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

  body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #48484a 16.62%, #b7b8b9  85.61%);
    color: white;
    font-family: 'Roboto', sans-serif;
    /* background-size:cover; */
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

                /* --------INÍCIO HEADER--------  */

  .head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    font-size: 20px;
    border-bottom: 0.4px solid #d1d1d1;
}

.head-menu{
    display: flex;
    gap: 32px;
}

/*  NO MOMENTO TA FAZENDO NA DA MAS VOU MEXER AQUI PROVAVELMENTE
.head-menu-item{
    display: flex;
} */

.head-menu-item:link{
    text-decoration: none;
}

.head-menu-item:visited{
    text-decoration: none;
}



                /* --------INÍCIO MAIN--------*/


.content{
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    height: 1000px;
}
                
.principal{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

/* .principal-fotografia{

} */

img{
    width: 400px;
}

.principal-text{
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 900px;
}

.principal-text-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 65px;
    font-weight: 400;
}

.principal-text-paragraph{
    display: flex;
    font-weight: 300;
    font-size: 26px;
}



                /* --------INÍCIO FOOTER--------*/

.rodape{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 0.4px solid #d1d1d1;
 
}

.rodape-list{
    display: flex;
    list-style: none;
    /* list-style-image: url(./images/insta1.png); */
}

/* .rodape-list-item{
    list-style-image: url(./images/insta.png);
    max-width: 500px;
} */


