@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img{
    width: 160px;
}
  
  body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #000000 16.62%, #1408c9 85.61%);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}

  .head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    font-size: 20px;
    border-bottom: 0.4px solid #d1d1d1;
}

.head-menu{
    display: flex;
}

.head-menu-item{
    display: flex;
}

.head-menu-item:link{
    text-decoration: none;
}

.head-menu-item:visited{
    text-decoration: none;
}

.principal{
    display: flex;
    justify-content: space-evenly;
    padding-top: 300px;
    padding-bottom: 300px;
}

h1{
    font-size: 35px;
    font-weight: 400;
}

.fotografia{
    display: flex;
}

.principal-text{
    /* max-width: 2000px; */

}

.principal-text-title{
    display: flex;
    justify-content: center;
}

.principal-text-paragraph{
    display: flex;
    font-weight: 300;

}


.rodape{
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 0.4px solid #ffffff;
 
}

.rodape-list{
    display: flex;
    list-style: none;
    /* list-style-image: url(./images/insta1.png); */
}

/* .rodape-list-item{
    list-style-image: url(./images/insta.png);
    max-width: 500px;
} */


